.welcome-text{
    text-align: center;      
    font-size: 54px;          
    font-weight: bold;            
    color: #333;     
    padding: 20px;      
}

.dark-mode .welcome-text {
    color: #ffffff;
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top:50px;
    width: 600px; 
    background: white;
    padding-bottom: 30px;
}

.dark-mode .container {
    background: var(--color-secondary);
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px; 
}

.text{
    color: #F48B14;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 6px;
    background: #F48B14;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: #eaeaea;
    border-radius: 6px;
}

.dark-mode .input {
    background: #3a3a3a;
}

.input i{
    margin: 0px 30px;
    color: gray;
}

.dark-mode .input i {
    color: #aaa;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 18px;
}

.dark-mode .input input {
    color: #ffffff;
}

.dark-mode .input input::placeholder {
    color: #aaa;
}

.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 16px;
}

.dark-mode .forgot-password {
    color: #aaa;
}

.forgot-password span{
    color: #F48B14;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    color: white;
    background: #F48B14;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: #eaeaea;
    color: #676767;
}