.home-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #333;
    font-family: 'Arial', sans-serif;
  }
  
  .header {
    background: #ddd;
    padding: 1rem;
    align-items: left;
    font-weight: bold;
  }
  
  .logo-img {
    width: 50px;
  }

  .app-name {
    font-weight: 600;
    font-size: 1.8rem;
  }
  
  
  .content {
    flex-grow: 1;
    padding: 1rem;
    text-align: center;
  }
  
  .date {
    font-weight: normal;
    margin-bottom: 1rem;
  }
  
  .calorie-circle {
    position: relative;
    margin: 2rem auto;
  }
  
  .circle {
    width: 160px;
    height: 160px;
    border: 8px solid orange;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .circle-text {
    text-align: center;
  }
  
  .kcal {
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .macros {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
  }
  
  .macro-ring {
    width: 40px;
    height: 40px;
    border: 3px solid #aaa;
    border-radius: 50%;
    margin: 0 auto 0.5rem;
  }
  
  .section-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
  }
  
  .add-btn {
    display: block;
    width: 30%;
    margin: 1rem auto;
    background: #F48B14;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 15px;
  }
  
  .navbar {
    background: #ddd;
    display: flex;
    justify-content: space-around;
    padding: 0.6rem 0;
  }
  
  .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
  }
  
  .icon {
    font-size: 1.8rem;
  }
  